<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pareto</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/pareto.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

</head>

<body onload="startTime()">
    <%- include(navbar) %>

        <div class="wrapper">
            <div class="newtitle">
                <h1 style="text-align: center">Pareto Analysis</h1>
            </div>
            <div>
                <hr class="line2">
            </div>
            <div id="content">
                <p>Cantidad de piezas analizadas: <span><%=total%></span></p>
            </div>
            <div id="tableContainer" class="mb-4">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Defecto</th>
                            <th>Cantidad de piezas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% faults.forEach(function (entry) { %>
                            <tr>
                                <td>
                                    <%= entry.name %>
                                </td>
                                <td>
                                    <%= entry.quantity %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <%-include(footer)%>
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('#example').DataTable({
                        "order": [
                            [1, "desc"]
                        ],
                        "lengthChange": false
                    });
                });
            </script>
</body>

</html>